<div class="slideshow">
  <div class="slides_container">
    <% slides = Refinery::Slides::Slide.all %>
    <% slides.each do |slide| %>
      <div>
        <div class="content">
          <h2><%= slide.title %></h2>
          <%=raw slide.description %>
        </div>
        <%= image_tag slide.image %>
      </div>
    <% end %>
  </div>
</div>

<div class="top_images">
  <%= raw @page.content_for(:top_images) %>
</div>

<section id="page">
  <section id="content" class="home">
    <section class="left">
      <%= raw @page.content_for(:left) %>
    </section>
    <section class="middle">
      <%= raw @page.content_for(:middle) %>
    </section>
    <section class="bottom">
      <%= raw @page.content_for(:bottom) %>
    </section>
  </section>

  <%= render "/refinery/sidebar" %>
</section>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('.slideshow').slides();
    });
  </script>
<% end %>