<%
body_content_title = page_title if (body_content_title = yield :body_content_title).blank?
body_content = @page.content_for(:body).html_safe if (body_content = yield :body).blank?
full_width ||= false
%>

<section id="page" class="<%= "full_width" if full_width %>">
  <section id="content">
    <section id="summary">
      <h1 id="body_content_title">
        <%= body_content_title %>
      </h1>

      <% if !@page.content_for(:summary).nil? && @page.content_for(:summary) != "" %>
        <%= content_tag :div, (raw @page.content_for(:summary)) %>
      <% end %>
    </section>
    <section id="body">
      <% flash.each do |name, msg| %>
        <%= content_tag :aside, msg, :class => "flash_#{name}" %>
      <% end %>

      <%= body_content %>
    </section>
  </section>

  <% if !full_width %>
    <%= render "/refinery/sidebar" %>
  <% end %>
</section>