<div class="top_bar">
  <div class="container">
    <%= link_to "Home", refinery.root_path %>

    <div class="secondary">
      <% if refinery_user? %>
        <%= link_to "My Account", refinery.akouo_account_path %>
        <%= link_to "Sign Out", refinery.destroy_refinery_user_session_path %>
      <% else %>
        <%= link_to "Member Login", refinery.akouo_login_path %>
        <%= link_to "Register", refinery.akouo_register_path %>
      <% end %>

      <span class="telephone"><%= ::Refinery::Setting.find_or_set(:phone_number, "1-888-000-0000") %></span>
    </div>
  </div>
</div>